node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/src/config/firebase/biomap-leyte-firebase-adminsdk-fbsvc-2594ce8065.json
/src/config/google-vision/gen-lang-client-0968823500-d837332c17c9.json
